.stats-container {
    margin: 0 ;
    display: flex;
    justify-content: space-evenly;
    padding: 2% 0; /* Percentage-based padding */
    background-color: transparent;
    width: 100%;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.stat {
    display: flex;
    gap: 2%; /* Scaled to percentage */
}

.one {
    width: 20%;
}

.two{
    width: 15%;
}

.stats-container .stat .stat-value {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem; 
    font-weight: 500;
    color: #4CAF50;
}

.stats-container .stat .stat-label {
    font-size: clamp(1rem, 3vw, 1.5rem); /* Scales with viewport */
    font-weight: 300;
    color: #676262;
    margin-bottom: 5%; /* Percentage-based margin */
    align-self: flex-end;
}

.stats-container .stat .stat-value:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

