body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #101224; 
    color: white;
    background-image: 
        url('/svgs/backgroundCubes.svg'), 
        url('/svgs/backgroundSwirl.svg'); 

}