.login-container {
    width: 80vw;
    margin: 10% auto; /* Relative margin */
    padding: 2%; /* Relative padding */
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 5);
}

h2 {
    color: rgb(228, 208, 208);
    text-align: center;
    font-size: 2.5%; /* Relative font size */
    margin-bottom: 2%; /* Relative margin */
}

.input-group {
    margin-bottom: 2%; /* Relative margin */
}

.input-group label {
    display: block;
    margin-bottom: 1%; /* Relative margin */
}

input[type="password"] {
    color: white; 
    caret-color: white; 
    background-color: transparent; 
}

.input-group input {
    width: 80%;
    padding: 1.5%; /* Relative padding */
    font-size: 1.5%; /* Relative font size */
    border: none;
    border-bottom: 2px solid #1b1919;
    border-radius: 0;
    outline: none;
    background-color: transparent;
}

.input-group input:focus {
    border-color: #032954;
}

button.login-btn {
    width: 70%;
    padding: 1.5%; /* Relative padding */
    background-color: #0b233e;
    color: rgb(228, 208, 208);
    font-size: 1.5%; /* Relative font size */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button.login-btn:hover {
    background-color: #0f3051;
}

.signup-link {
    text-align: center;
    margin-top: 2%; /* Relative margin */
}

.signup-link #Link {
    color: #1d4e81;
    text-decoration: none;
}

.signup-link p {
    color: #3c4b5b;
}

.signup-link #Link:hover {
    text-decoration: underline;
}